---
BasedOnStyle: Microsoft
Language: Cpp
Standard: Latest

AccessModifierOffset: -2
AlignAfterOpenBracket: Align
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: true
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false
AlwaysBreakBeforeMultilineStrings: false
BinPackArguments: false
BinPackParameters: false
BreakAfterAttributes: Never
BreakAfterReturnType: None
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Custom
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
BreakStringLiterals: true
BreakTemplateDeclarations: Yes
ColumnLimit: 110
CompactNamespaces: false
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: Block
DerivePointerAlignment: false
FixNamespaceComments: true
IncludeBlocks: Regroup
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
IndentWidth: 4
IndentWrappedFunctionNames: false
InsertNewlineAtEOF: true
LineEnding: LF
MainIncludeChar: Any
MaxEmptyLinesToKeep: 1
NamespaceIndentation: Inner
PackConstructorInitializers: NextLine
PenaltyBreakAssignment: 0
PointerAlignment: Left
QualifierAlignment: Right
ReflowComments: true
RemoveSemicolon: true
SortIncludes: true
SortUsingDeclarations: true
SpaceAfterCStyleCast: true
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: false
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: false
SpacesInAngles: Never
SpacesInContainerLiterals: false
SpacesInParens: Never
SpacesInSquareBrackets: false
TabWidth: 4
UseTab: Never

IncludeCategories:
  - Regex:     '^<(contour)/'
    Priority:  0
  - Regex:     '^<(vtbackend)/'
    Priority:  1
  - Regex:     '^<(vtparser)/'
    Priority:  2
  - Regex:     '^<(vtpty)/'
    Priority:  3
  - Regex:     '^<(vtrasterizer)/'
    Priority:  4
  - Regex:     '^<(text_shaper)/'
    Priority:  5
  - Regex:     '^<(crispy)/'
    Priority:  6
  - Regex:     '^<(libunicode)/'
    Priority:  40
  - Regex:     '^<(fmt)/'
    Priority:  42
  - Regex:     '^<(yaml-cpp)/'
    Priority:  44
  - Regex:     '^<(range)/'
    Priority:  46
  - Regex:     '^<gsl/'
    Priority:  48
  - Regex:     '^<fontconfig/'
    Priority:  52
  - Regex:     '^<harfbuzz/'
    Priority:  53
  - Regex:     '^<(QtCore|QtGui|QtOpenGL|QtDBus|QtWidgets|QtQml|QtQuick|QtNetwork|QtMultimedia|QtWaylandClient)/'
    Priority:  64
  - Regex:     '^<catch2/'
    Priority:  70
  - Regex:     '^<sys/'
    Priority:  80
  - Regex:     '^<[[:alnum:]_]+>'
    Priority:  81
  - Regex:     '<[[:alnum:]_]+\.h>'
    Priority:  82
  - Regex:     '.*'
    Priority:  99
