---
Checks: >-
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-suspicious-include,
  -bugprone-unchecked-optional-access,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-no-malloc,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-const-cast,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-pro-type-static-cast-downcast,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-special-member-functions,
  modernize-*,
  -modernize-avoid-bind,
  -modernize-avoid-c-arrays,
  -modernize-return-braced-init-list,
  -modernize-use-bool-literals,
  -modernize-use-nullptr,
  -modernize-use-trailing-return-type,
  readability-non-const-parameter,
  readability-redundant-*
  -readability-redundant-access-specifiers,
WarningsAsErrors: >-
  clang-analyzer-*,
  clang-diagnostic-*,
  performance-*,
  -performance-no-int-to-ptr,
  readability-identifier-naming
UseColor: true
HeaderFilterRegex: '^src/(terminal.*)/.*\.(h|cpp)$'
AnalyzeTemporaryDtors: false
FormatStyle:     none
CheckOptions:
  - key:             bugprone-easily-swappable-parameters.MinimumLength
    value:           '3'
  - key:             cert-dcl16-c.NewSuffixes
    value:           'L;LL;LU;LLU'
  - key:             cert-oop54-cpp.WarnOnlyIfThisHasSuspiciousField
    value:           '0'
  - key:             cppcoreguidelines-explicit-virtual-functions.IgnoreDestructors
    value:           '1'
  - key:             cppcoreguidelines-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:           '1'
  - key:             google-readability-braces-around-statements.ShortStatementLines
    value:           '1'
  - key:             google-readability-function-size.StatementThreshold
    value:           '800'
  - key:             google-readability-namespace-comments.ShortNamespaceLines
    value:           '10'
  - key:             google-readability-namespace-comments.SpacesBeforeComments
    value:           '2'
  - key:             modernize-loop-convert.MaxCopySize
    value:           '16'
  - key:             modernize-loop-convert.MinConfidence
    value:           reasonable
  - key:             modernize-loop-convert.NamingStyle
    value:           CamelCase
  - key:             modernize-pass-by-value.IncludeStyle
    value:           llvm
  - key:             modernize-replace-auto-ptr.IncludeStyle
    value:           llvm
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'
  - key:             modernize-use-default-member-init.UseAssignment
    value:           '1'
  # - key:   readability-identifier-naming.EnumCase
  #   value: CamelCase
  # - key:   readability-identifier-naming.ClassCase
  #   value: CamelCase
  # - key:   readability-identifier-naming.ClassMemberCase
  #   value: camelBack
  # - key:   readability-identifier-naming.ClassMethodCase
  #   value: camelBack
  # - key:   readability-identifier-naming.ParameterCase
  #   value: camelBack
  # - key:   readability-identifier-naming.ParameterPrefix
  #   value: ''
  # - key:   readability-identifier-naming.ScopedEnumConstantCase
  #   value: CamelCase
