# Visual Studio Code
.vscode
.vscode/**
_deps
_deps/**
[bB]uild
[bB]uild/**
[rR]elease
[rR]elease/**
[tT]arget

# Visual Studio
.vs
.vs/**
out
out/**
CMakeSettings.json
vcpkg_installed/**

# VIM: code completion / IntelliSense
.clangd
.clangd/**
.cache
.cache/**
compile_commands.json
.vimspector.json

# CMake (CTest)
/Testing/
CMakeUserPresets.json

# This is a workspace-local sandbox directory with test files not to be included in Git.
sandbox
sandbox/**

# Never add any log files.
*.log

# Never accidentally add any screenshot files.
*.vt

# NVIDIA Nsight Graphics (Debugger, project files)
*.nsight-gfxproj

# OS X
.DS_Store

# Linux/KDE
.directory

# debian: dpkg-buildpackage intermediates
debian/files
debian/tmp/**
debian/.debhelper/**
debian/contour.substvars
debian/contour/**
configure-stamp
build-stamp
install-stamp

src/contour/ui/RequestPermission.qml
src/contour/ui/Terminal.qml
src/contour/ui/main.qml
