# TODO
# - [ ] make Exec prefix configurable via @CMAKE_INSTALL_PREFIX@/bin
# - [ ] include it as install target

[Desktop Entry]
Type=Application
TryExec=contour
Exec=/usr/bin/contour
Icon=contour
Terminal=false
Categories=Qt;System;TerminalEmulator;
Actions=NewWindow;
X-KDE-AuthorizeAction=shell_access
StartupWMClass=contour

Name=Contour

GenericName=Terminal
GenericName[af]=Terminaal
GenericName[ar]=طرفيّة
GenericName[as]=টাৰ্মিনেল
GenericName[ast]=Terminal
GenericName[be@latin]=Terminał
GenericName[bg]=Терминал
GenericName[bn]=টার্মিনাল
GenericName[bn_IN]=টার্মিন্যাল
GenericName[bs]=Terminal
GenericName[ca]=Terminal
GenericName[ca@valencia]=Terminal
GenericName[cs]=Terminál
GenericName[csb]=Terminal
GenericName[da]=Terminal
GenericName[de]=Terminal
GenericName[el]=Τερματικό
GenericName[en_GB]=Terminal
GenericName[eo]=Terminalo
GenericName[es]=Terminal
GenericName[et]=Terminal
GenericName[eu]=Terminala
GenericName[fa]=پایانه
GenericName[fi]=Pääteikkuna
GenericName[fr]=Terminal
GenericName[fy]=Terminal
GenericName[ga]=Teirminéal
GenericName[gl]=Terminal
GenericName[gu]=ટર્મિનલ
GenericName[he]=מסוף
GenericName[hi]=टर्मिनल
GenericName[hne]=टर्मिनल
GenericName[hr]=Terminal
GenericName[hsb]=Terminal
GenericName[hu]=Terminál
GenericName[ia]=Terminal
GenericName[id]=Terminal
GenericName[is]=Skjáhermir
GenericName[it]=Terminale
GenericName[ja]=ターミナル
GenericName[ka]=ტერმინალი
GenericName[kk]=Терминал
GenericName[km]=ស្ថានីយ
GenericName[kn]=ಆದೇಶತೆರೆ (ಟರ್ಮಿನಲ್)
GenericName[ko]=터미널
GenericName[ku]=Termînal
GenericName[lt]=Terminalas
GenericName[lv]=Terminālis
GenericName[mai]=टर्मिनल
GenericName[mk]=Терминал
GenericName[ml]=ടെര്‍മിനല്‍
GenericName[mr]=टर्मिनल
GenericName[nb]=Terminal
GenericName[nds]=Konsool
GenericName[nl]=Terminal
GenericName[nn]=Terminal
GenericName[or]=ଟର୍ମିନାଲ
GenericName[pa]=ਟਰਮੀਨਲ
GenericName[pl]=Terminal
GenericName[pt]=Terminal
GenericName[pt_BR]=Terminal
GenericName[ro]=Terminal
GenericName[ru]=Терминал
GenericName[se]=Terminal
GenericName[si]=අග්‍රය
GenericName[sk]=Terminál
GenericName[sl]=Terminal
GenericName[sr]=Терминал
GenericName[sr@ijekavian]=Терминал
GenericName[sr@ijekavianlatin]=Terminal
GenericName[sr@latin]=Terminal
GenericName[sv]=Terminal
GenericName[ta]=முனையம்
GenericName[te]=టెర్మినల్
GenericName[tg]=Терминал
GenericName[th]=เทอร์มินัล
GenericName[tr]=Uçbirim
GenericName[ug]=تېرمىنال
GenericName[uk]=Термінал
GenericName[uz]=Terminal
GenericName[uz@cyrillic]=Терминал
GenericName[wa]=Terminå
GenericName[x-test]=xxTerminalxx
GenericName[zh_CN]=终端
GenericName[zh_TW]=終端機

Comment=Command line access
Comment[ast]=Accesu a la llinia de comandos
Comment[ca]=Accés a la línia d'ordres
Comment[ca@valencia]=Accés a la línia d'ordres
Comment[cs]=Přístup k příkazové řádce
Comment[da]=Kommandolinjetilgang
Comment[de]=Zugriff auf die Befehlszeile
Comment[el]=Πρόσβαση από τη γραμμή εντολών
Comment[en_GB]=Command line access
Comment[es]=Acceso a la línea de órdenes
Comment[et]=Käsurea kasutamine
Comment[eu]=Komando-lerrora sarbidea
Comment[fa]=دسترسی خط فرمان
Comment[fi]=Pääsy komentoriville
Comment[fr]=Ligne de commande
Comment[gl]=Acceso á liña de ordes.
Comment[he]=גישה לשורת הפקודה
Comment[hu]=Parancssori hozzáférés
Comment[ia]=Accesso a linea de commando
Comment[id]=Akses baris perintah
Comment[is]=Aðgangur með skipanalínu
Comment[it]=Accesso alla riga di comando
Comment[ko]=명령행 접근
Comment[nb]=Tilgang til kommandolinje
Comment[nl]=Toegang tot de opdrachtregel
Comment[nn]=Kommandolinjetilgang
Comment[pl]=Dostęp do wiersza poleceń
Comment[pt]=Acesso à linha de comandos
Comment[pt_BR]=Acesso à linha de comandos
Comment[ru]=Доступ к командной строке
Comment[sk]=Prístup na príkazový riadok
Comment[sl]=Dostop do ukazne vrstice
Comment[sr]=Приступ командној линији
Comment[sr@ijekavian]=Приступ командној линији
Comment[sr@ijekavianlatin]=Pristup komandnoj liniji
Comment[sr@latin]=Pristup komandnoj liniji
Comment[sv]=Åtkomst till kommandorad
Comment[tr]=Komut satırı erişimi
Comment[uk]=Доступ до командного рядка
Comment[x-test]=xxCommand line accessxx
Comment[zh_CN]=命令行访问
Comment[zh_TW]=指令列

[Desktop Action NewWindow]
Name=Open a New Window
Name[ar]=افتح نافذة جديدة
Name[ast]=Abrir nuna ventana nueva
Name[bs]=Otvori u novom prozoru
Name[ca]=Obre una finestra nova
Name[ca@valencia]=Obri una finestra nova
Name[cs]=Otevřít nové okno
Name[da]=Åbn et nyt vindue
Name[de]=Ein neues Fenster öffnen
Name[el]=Άνοιγμα νέου παραθύρου
Name[en_GB]=Open a New Window
Name[es]=Abrir una nueva ventana
Name[et]=Ava uues aknas
Name[eu]=Ireki leiho berri bat
Name[fa]=باز کردن یک پنجره جدید
Name[fi]=Avaa uusi ikkuna
Name[fr]=Ouvrir dans une nouvelle fenêtre
Name[gl]=Abrir unha xanela nova
Name[he]=פתח חלון חדש
Name[hu]=Új ablak megnyitása
Name[ia]=Aperi un nove fenestra
Name[id]=Buka Window Baru
Name[is]=Opna nýjan glugga
Name[it]=Apri in una nuova finestra
Name[ko]=새 창 열기
Name[lt]=Atverti naujame lange
Name[nb]=Åpne et nytt vindu
Name[nds]=En nieg Finster opmaken
Name[nl]=Een nieuw venster openen
Name[nn]=Opna i nytt vindauge
Name[pa]=ਨਵੀਂ ਵਿੰਡੋ ਖੋਲ੍ਹੋ
Name[pl]=Otwórz nowe okno
Name[pt]=Abrir uma Nova Janela
Name[pt_BR]=Abre uma nova janela
Name[ro]=Deschide o fereastră nouă
Name[ru]=Открыть новое окно
Name[sk]=Otvoriť nové okno
Name[sl]=Odpri novo okno
Name[sr]=Отвори нови прозор
Name[sr@ijekavian]=Отвори нови прозор
Name[sr@ijekavianlatin]=Otvori novi prozor
Name[sr@latin]=Otvori novi prozor
Name[sv]=Öppna ett nytt fönster
Name[tr]=Yeni Pencere Aç
Name[uk]=Відкрити нове вікно
Name[x-test]=xxOpen a New Windowxx
Name[zh_CN]=打开新窗口
Name[zh_TW]=開啟新視窗
Icon=window-new
Exec=konsole
