[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-executable;
Actions=runInContour;
X-KDE-AuthorizeAction=shell_access

[Desktop Action runInContour]
TryExec=contour
Exec=contour %f
Icon=utilities-terminal

Name=Run In Contour
Name[ar]=شغل في كونسول
Name[ast]=Executar en Contour
Name[az]=Contour-də başlatmaq
Name[ca]=Executa en el Contour
Name[ca@valencia]=Executa en el Contour
Name[cs]=Spustit v Contour
Name[da]=Kør i Contour
Name[de]=In Contour ausführen
Name[el]=Εκτέλεση στο Contour
Name[en_GB]=Run In Contour
Name[es]=Ejecutar en Contour
Name[et]=Käivita Contour
Name[eu]=Exekutatu Contour
Name[fa]=اجرا در کنسول
Name[fi]=Suorita Contour
Name[fr]=Lancer dans Contour
Name[gl]=Executar en Contour
Name[he]=הפעל בתוך Contour
Name[hu]=Futtatás a Contour programban
Name[ia]=Executa in Contour
Name[id]=Jalankan di Contour
Name[is]=Keyra í Contour skjáhermi
Name[it]=Esegui in Contour
Name[ja]=Contour で実行
Name[ko]=Contour 에서 실행
Name[lt]=Paleisti Contour
Name[nb]=Kjør i Contour
Name[nds]=Binnen Contour lopen
Name[nl]=In Contour uitvoeren
Name[nn]=Køyr i Contour
Name[pa]=ਕਨਸੋਲ ਵਿੱਚ ਚਲਾਓ
Name[pl]=Uruchom w Contour
Name[pt]=Executar no Contour
Name[pt_BR]=Executar no Contour
Name[ro]=Rulează în Contour
Name[ru]=Запустить в Contour
Name[sk]=Spustiť v Contour
Name[sl]=Zaženi v Contour
Name[sr]=Изврши у Contour
Name[sr@ijekavian]=Изврши у Contour
Name[sr@ijekavianlatin]=Izvrši u Contour
Name[sr@latin]=Izvrši u Contour
Name[sv]=Kör i Contour
Name[tr]=Contour'da Çalıştır
Name[uk]=Запустити у Contour
Name[x-test]=xxRun In Contourxx
Name[zh_CN]=在 Contour 中运行
Name[zh_TW]=在 Contour 中執行

Comment=Run within Contour
Comment[ast]=Execución dientro de Contour
Comment[az]=Əmri Contour-də icra etmək
Comment[ca]=Executa al Contour
Comment[ca@valencia]=Executa al Contour
Comment[cs]=Spustit v Contour
Comment[da]=Kør i Contour
Comment[de]=In Contour ausführen
Comment[el]=Εκτέλεση από την Κονσόλα
Comment[en_GB]=Run within Contour
Comment[es]=Ejecutar en Contour
Comment[et]=Contour käivitamine
Comment[eu]=Exekutatu Contour barruan
Comment[fa]=اجرا داخل کنسول
Comment[fi]=Suorita Contourssa
Comment[fr]=Exécuter dans Contour
Comment[gl]=Executar dentro de Contour.
Comment[he]=הפעל באמצעות Contour
Comment[hu]=Futtatás a Contour-ban
Comment[ia]=Executa intra Contour
Comment[id]=Jalankan dengan Contour
Comment[is]=Keyra innan í Contour skjáhermi
Comment[it]=Esegui in Contour
Comment[ko]=Contour에서 실행
Comment[nb]=Kjør inne i Contour
Comment[nl]=In Contour uitvoeren
Comment[nn]=Køyr inni Contour
Comment[pa]=ਕਨਸੋਲ ਵਿੱਚ ਚਲਾਓ
Comment[pl]=Uruchamia przy pomocy Contour
Comment[pt]=Executar no Contour
Comment[pt_BR]=Executar no Contour
Comment[ru]=Выполнить команду в Contour
Comment[sk]=Spustiť v Contour
Comment[sl]=Zaženi znotraj Contour
Comment[sr]=Изврши у Contour
Comment[sr@ijekavian]=Изврши у Contour
Comment[sr@ijekavianlatin]=Izvrši u Contour
Comment[sr@latin]=Izvrši u Contour
Comment[sv]=Kör i Contour
Comment[tr]=Contour İçinde Çalıştır
Comment[uk]=Запустити у Contour
Comment[x-test]=xxRun within Contourxx
Comment[zh_CN]=在 Contour 中运行
Comment[zh_TW]=在 Contour 中執行
