Source: contour
Section: x11
Priority: optional
Maintainer: Christian Parpart <christian@parpart.family>
Build-Depends:
  cmake,
  debhelper,
  extra-cmake-modules,
  g++,
  libc6-dev,
  libfontconfig1-dev,
  libfreetype6-dev,
  libharfbuzz-dev,
  libkf5windowsystem-dev,
  libqt5opengl5-dev,
  libyaml-cpp-dev,
  make,
  ncurses-bin,
  pkg-config,
  qtbase5-dev,
Standards-Version: 3.9.3

Package: contour-terminfo
Architecture: any
Section: x11
Priority: optional
Description: terminfo file for Contour terminal emulator.
  A GPU accelerated modern terminal emulator.
Homepage: https://github.com/contour-terminal/contour/
Depends: ${shlibs:Depends}, ${misc:Depends},
  ncurses-bin,

Package: contour
Architecture: any
Section: x11
Priority: optional
Description: Contour terminal emulator.
  A GPU accelerated modern terminal emulator.
Homepage: https://github.com/contour-terminal/contour/
Recommends:
  xdg-utils
Depends: ${shlibs:Depends}, ${misc:Depends},
  libc6,
  libfontconfig1,
  libfreetype6,
  libharfbuzz0b,
  libkf5windowsystem5,
  libqt5core5a,
  libqt5gui5,
  libqt5network5,
  libyaml-cpp0.6,
