name: Windows

on:
  push:
    branches:
    - master
    - wip
  pull_request:
    branches:
    - master

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v1
    - name: "Initialize sub modules"
      run: git submodule update --init --recursive
    - name: Install Qt
      uses: jurplel/install-qt-action@v2
    - name: "vcpkg: Install dependencies"
      uses: lukka/run-vcpkg@v5
      id: runvcpkg
      with:
        vcpkgArguments: freetype fontconfig harfbuzz
        vcpkgDirectory: ${{ runner.workspace }}/vcpkg/
        vcpkgGitCommitId: acd2f59e931172f46706ef8ac2fc9b21f71fba85
        vcpkgTriplet: x64-windows
    - name: "create build directory"
      run: mkdir build
    - name: "Generate build files"
      run: cmake -DCMAKE_BUILD_TYPE=Debug -DCMAKE_TOOLCHAIN_FILE="${{ runner.workspace }}/vcpkg/scripts/buildsystems/vcpkg.cmake" -DVCPKG_TARGET_TRIPLET=x64-windows -DYAML_BUILD_SHARED_LIBS=OFF -DCONTOUR_EXAMPLES=OFF -DLIBTERMINAL_TESTING=ON -DLIBUNICODE_TESTING=ON -DYAML_CPP_BUILD_CONTRIB=OFF -DYAML_CPP_BUILD_TESTS=OFF -DYAML_CPP_BUILD_TOOLS=OFF -DYAML_CPP_INSTALL=OFF -B build .
    - name: "Build"
      run: cmake --build build/
    - name: "test: libcrispy"
      run: .\build\src\crispy\Debug\crispy_test.exe
    - name: "test: libterminal"
      run: .\build\src\terminal\Debug\terminal_test.exe

