name: Windows

on:
  push:
    branches:
    - master
    - wip
  pull_request:
    branches:
    - master

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v1
    - name: "Initialize sub modules"
      run: git submodule update --init --recursive
    - name: "Install dependencies"
      run: vcpkg install freetype fontconfig glew glfw3 glm harfbuzz --triplet x64-windows
    - name: "create build directory"
      run: mkdir build
    - name: "Generate build files"
      run: cmake -DCMAKE_BUILD_TYPE=Debug -DCMAKE_TOOLCHAIN_FILE="C:/vcpkg/scripts/buildsystems/vcpkg.cmake" -DVCPKG_TARGET_TRIPLET=x64-windows -DYAML_BUILD_SHARED_LIBS=OFF -DYAML_CPP_BUILD_CONTRIB=OFF -DYAML_CPP_BUILD_TESTS=OFF -DYAML_CPP_BUILD_TOOLS=OFF -DYAML_CPP_INSTALL=OFF -B build .
    - name: "Build"
      run: cmake --build build/
    - name: "test: libterminal"
      run: .\build\src\terminal\Debug\terminal_test.exe

